* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	@media screen and (min-width: $tablet-potriat-start) and (max-width: $tablet-potriat-end) {
		font-size: 12px;
	}
	@media screen and (min-width: $tablet-landscape-start) and (max-width: $tablet-landscape-end) {
		font-size: 14px;
	}
}
body {
	font-family: $font-family;
	font-optical-sizing: auto;
	background: $white;
	color: $text;
	font-size: 1rem;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}