.mt {
    &_button {
        background: transparent;
        border-radius: toRem(4);
        border: 1px solid transparent;
        height: toRem(40);
        padding: 0 0.5rem;
        box-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        cursor: pointer;
        font-weight: 600;
        &-transparent {
            background: transparent;
            border-color: transparent;
        }
        &-primary {
            background: $primary;
            border-color: $primary;
            color: $white;
            &-outlined {
                background: $white;
                color: $primary;
            }
            &-shade {
                background: rgba(0, 185, 108, 0.12);
                color: $primary;
            }
        }
        &-secondary {
            background: $secondary;
            border-color: $secondary;
            color: $white;
            &-outlined {
                background: $white;
                color: $secondary;
            }
        }
        &-warning {
            background: $warning-bg;
            border-color: $warning-bg;
            color: $warning;
            &-outlined {
                background: $white;
                color: $warning;
            }
        }
        &-gray {
            background: $text-light;
            border-color: $text-light;
            color: $black;
            &-outlined {
                border: 1px solid $text-light;
                color: $text-light;
            }
        }
        &-link {
            color: $primary;
            padding: 0;
            height: auto;
        }
        &-add-pipiline {
            width: 200px;
        }
    }
}
