<div class="mt_pipeline-list">
	<div class="mt_pipeline-item">
		<div class="mt_pipeline-item-data">
			<div class="mt_pipeline-item-order">
				<span>#1</span>
			</div>
			<div class="mt_pipeline-item-info">
				<div class="mt_pipeline-item-pictorial">
					<img src="assets/media/images/brand/salesforce.svg" alt="">
					<span class="mt_pipeline-item-process-forward"></span>
					<img src="assets/media/images/brand//snowflake.svg" alt="">
				</div>
				<div class="mt_pipeline-item-name">
					<h4>DXF Project Pipeline</h4>
					<div class="mt_pipeline-item-meta"><span>PRODUCTION</span><label>03 April, 2024 | 04:00 EST</label></div>
				</div>
			</div>
		</div>
		<div class="mt_pipeline-item-actions">
			<ul>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/calendar.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/settings.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/info.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/more.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-warning fixed-width">
						Pause
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-primary mt_button-primary-outlined fixed-width">
						<img src="assets/media/icons/play.svg" />
						Resume
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/arrow-right.svg" />
					</button>
				</li>
			</ul>
		</div>
	</div>
	<!-- <div class="mt_pipeline-item">
		<div class="mt_pipeline-item-data">
			<div class="mt_pipeline-item-order">
				<span>#2</span>
			</div>
			<div class="mt_pipeline-item-info">
				<div class="mt_pipeline-item-pictorial">
					<img src="assets/media/images/brand/salesforce.svg" alt="">
					<span class="mt_pipeline-item-process-forward"></span>
					<img src="assets/media/images/brand//snowflake.svg" alt="">
				</div>
				<div class="mt_pipeline-item-name">
					<h4>DXF Project Pipeline</h4>
					<div class="mt_pipeline-item-meta">
						<span>PRODUCTION</span>
						<label>03 April, 2024 | 04:00 EST</label>
					</div>
				</div>
			</div>
		</div>
		<div class="mt_pipeline-item-actions">
			<ul>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/calendar.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/settings.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/info.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/more.svg" />
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-warning fixed-width">
						Pause
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-primary mt_button-primary-outlined fixed-width">
						<img src="assets/media/icons/play.svg" />
						Resume
					</button>
				</li>
				<li>
					<button class="mt_button mt_button-link">
						<img src="assets/media/icons/arrow-right.svg" />
					</button>
				</li>
			</ul>
		</div>
	</div> -->
</div>