<div class="mt-main-content">
    <div class="mt_card">
        <div class="mt_card-header">
            <h1>Forgot Password?</h1>
            <label class="text">No worries. We'll send you a link to reset it.</label>
        </div>
        <div class="mt_card-content">
            <!-- <template>
                <div class="mt-alert-banner mt-alert-success">
                    <div class="alert-icon">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                    <div class="alert-content">
                        <h3 class="alert-header">Link Successfully Sent!</h3>
                        <p>We have sent you a link to reset your password. Please check your email.</p>
                    </div>
                </div>
                <div class="mt-m-y-xl">
                    <p class="text-medium">Don't see the email?</p>
                    <p>Search your spam folder for items from noreply@xyz.abc, or</p>
                    <p class="mt-m-t-xl"><a href="#">Re-sent</a> the verification email.</p>

                    <button class="mt_button mt_button-primary mt_button-primary-outlined mt-m-t-xl width-full">Go to
                        Login</button>
                </div>
            </template> -->
            <!-- <template> -->
                <form [formGroup]="forgotPasswordForm" (submit)="handleFormSubmit()">
                    <div class="mt-form-group">
                        <label class="mt-form-label">Username / Email Address</label>
                        <div class="mt-from-control">
                            <input class="mt-form-control-input" type="text" formControlName="username"/>
                        </div>
                        <div class="mt-form-group-info" *ngIf="forgotPasswordForm.controls['username'].invalid && (isSubmitted || forgotPasswordForm.controls['username'].dirty || forgotPasswordForm.controls['username'].touched)">
                            <span class="mt-msg mt-msg-error">This field is required</span>
                        </div>
                    </div>
                    <div class="mt_card-footer">
                        <div class="unauth-redirectback">
                            <button class="mt_button mt_button-primary">Submit</button>
                            <p>Already have an account? <a href="#">Login here</a></p>
                        </div>
                    </div>
                </form>
            <!-- </template> -->
        </div>
    </div>
</div>