<div class="mt-main-content">
    <div class="mt-card">
        <div class="mt-card_header">
            <h1>Forgot Password?</h1>
            <label class="text">No worries. We'll send you a link to reset it.</label>
        </div>
        <div class="mt-card_content">
            <!-- <template> -->
            <!-- <div class="mt-alert-banner mt-alert-success">
                    <div class="alert-icon">
                        <i class="fa-regular fa-circle-check"></i>
                    </div>
                    <div class="alert-content">
                        <h3 class="alert-header">Password Reset Successful</h3>
                        <p>Your password is successfully updated.</p>
                    </div>
                </div>
                <div class="mt-m-y-xl">
                    <p class="text-medium">You’ll be re-directed to login screen in <strong>10</strong>s</p>
                    <button
                        class="mt-button mt-button-primary mt-button-primary-outlined mt-m-t-xl width-full">Login</button>
                </div> -->
            <!-- </template> -->
            <!-- <template> -->
            <form [formGroup]="resetPasswordForm" (submit)="handleFormSubmit()">
                <div class="mt-form-group">
                    <label class="mt-form-label">New Password</label>
                    <div class="mt-from-control has-icon right-aligned">
                        <input class="mt-form-control-input" type="password" formControlName="newPassword" />
                        <div class="mt-form-control-icon">
                            <button type="button" class="mt-button mt-button-transparent">
                                <i class="fa-regular fa-eye"></i>
                                <!-- <i class="fa-regular fa-eye-slash"></i> -->
                            </button>
                        </div>
                    </div>
                    <div class="mt-form-group-info" *ngIf="resetPasswordForm.controls['newPassword'].invalid && (isSubmitted || resetPasswordForm.controls['newPassword'].dirty || resetPasswordForm.controls['newPassword'].touched)">
                        <span class="mt-msg mt-msg-error">This field is required</span>
                    </div>
                </div>
                <div class="mt-form-group">
                    <label class="mt-form-label">Confirm Password</label>
                    <div class="mt-from-control">
                        <input class="mt-form-control-input" type="password" formControlName="confirmPassword" />
                    </div>
                    <div class="mt-form-group-info" *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && (isSubmitted || resetPasswordForm.controls['confirmPassword'].dirty || resetPasswordForm.controls['confirmPassword'].touched)">
                        <span class="mt-msg mt-msg-error">This field is required</span>
                    </div>
                </div>
                <div class="mt-card_footer">
                    <div class="unauth-redirectback">
                        <button class="mt-button mt-button-primary">Reset</button>
                        <p>Already have an account? <a href="#">Login here</a></p>
                    </div>
                </div>
            </form>
            <!-- </template> -->
        </div>
    </div>
</div>