<section class="mt_route-wrapper progress-wrapper">
    <nav aria-describedby="Pipeline Navigation" class="mt_nav-tertiary-container">
        <ul class="mt_nav-tertiary-list">
            <li class="mt_nav-tertiary-item is-active">
                <button type="button" class="mt_button">
                    <img src="assets/media/icons/overview-active.svg" />
                    <span class="mt_nav-tertiary-item-caption">Overview</span>
                </button>
            </li>
            <li class="mt_nav-tertiary-item">
                <button type="button" class="mt_button">
                    <img src="assets/media/icons/activity-default.svg" />
                    <span class="mt_nav-tertiary-item-caption">Activity Log</span>
                </button>
            </li>
        </ul>
    </nav>
    <div class="mt_route-content">
        <div class="mt_card mt_card-pipeline mt_card-pipeline-item">
            <div class="mt_card-header">
                <div class="mt_card-header-row">
                    <div class="mat_card-header-info">
                        <h1>DXF Project Pipeline</h1>
                    </div>
                    <div class="mat_card-header-actions">
                        <button class="mt_button mt_button-primary mt_button-primary-outlined">
                            <img src="assets/media/icons/share.svg" />
                            Export Data
                        </button>
                    </div>
                </div>
            </div>
            <div class="mt_card-content">
                <div class="mt_pipeline-item mt_pipeline-item-process">
                    <div class="mt_pipeline-item-data">
                        <div class="mt_pipeline-item-info">
                            <div class="mt_pipeline-item-pictorial">
                                <img src="assets/media/images/brand/salesforce.svg" alt="">
                                <span class="mt_pipeline-item-process-forward"></span>
                                <img src="assets/media/images/brand//snowflake.svg" alt="">
                            </div>
                            <div class="mt_pipeline-item-name">
                                <div class="mt_pipeline-item-meta">
                                    <span>PRODUCTION</span>
                                    <label>03 April, 2024 | 04:00 EST</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt_pipeline-item-actions">
                        <ul>
                            <li>
                                <button class="mt_button mt_button-link">
                                    <img src="assets/media/icons/calendar.svg" />
                                </button>
                            </li>
                            <li>
                                <button class="mt_button mt_button-link">
                                    <img src="assets/media/icons/settings.svg" />
                                </button>
                            </li>
                            <li>
                                <button class="mt_button mt_button-link">
                                    <img src="assets/media/icons/info.svg" />
                                </button>
                            </li>
                            <li>
                                <button class="mt_button mt_button-link">
                                    <img src="assets/media/icons/more.svg" />
                                </button>
                            </li>
                            <li>
                                <button class="mt_button mt_button-primary-shade fixed-width">
                                    Active
                                </button>
                            </li>
                            <li>
                                <button class="mt_button mt_button-gray-outlined fixed-width">
                                    <img src="assets/media/icons/pause.svg" />
                                    Pause
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mt_grid gutters-large grid-col-4">
                    <div class="mt_grid-column">
                        <div class="mt_card mt_card-stats">
                            <h6>Label</h6>
                            <div class="mt_card-stats-details">
                                <p>500</p>
                                <div class="mt_chip mt_chip-success">
                                    <i class="fa-solid fa-arrow-up"></i>
                                    <label>24</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt_grid-column">
                        <div class="mt_card mt_card-stats">
                            <h6>Label</h6>
                            <div class="mt_card-stats-details">
                                <p>500</p>
                                <div class="mt_chip mt_chip-error">
                                    <i class="fa-solid fa-arrow-down"></i>
                                    <label>24</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt_grid-column">
                        <div class="mt_card mt_card-stats">
                            <h6>Label</h6>
                            <div class="mt_card-stats-details">
                                <p>500</p>
                                <div class="mt_chip mt_chip-success">
                                    <i class="fa-solid fa-arrow-up"></i>
                                    <label>24</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt_grid-column">
                        <div class="mt_card mt_card-stats">
                            <h6>Label</h6>
                            <div class="mt_card-stats-details">
                                <p>500</p>
                                <div class="mt_chip mt_chip-success">
                                    <i class="fa-solid fa-arrow-up"></i>
                                    <label>24</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt_content-helper mt-m-t-xl">
                    <table class="mt_table">
                        <thead>
                            <th>Source Name</th>
                            <th>Destination Name</th>
                            <th>Mapping Status</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Employee</td>
                                <td>-</td>
                                <td>
                                    <span class="mt_chip mt_chip-error">Not Mapped</span>
                                </td>
                                <td>
                                    <button class="mt_button mt_button-link mt_height-auto">
                                        <img src="assets/media/icons/eye.svg" />
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td>-</td>
                                <td>
                                    <span class="mt_chip mt_chip-error">Not Mapped</span>
                                </td>
                                <td>
                                    <button class="mt_button mt_button-link mt_height-auto">
                                        <img src="assets/media/icons/eye.svg" />
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td>-</td>
                                <td>
                                    <span class="mt_chip mt_chip-error">Not Mapped</span>
                                </td>
                                <td>
                                    <button class="mt_button mt_button-link mt_height-auto">
                                        <img src="assets/media/icons/eye.svg" />
                                        View Details
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td>Employee</td>
                                <td>-</td>
                                <td>
                                    <span class="mt_chip mt_chip-error">Not Mapped</span>
                                </td>
                                <td>
                                    <button class="mt_button mt_button-link mt_height-auto">
                                        <img src="assets/media/icons/eye.svg" />
                                        View Details
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>